com.oodrive.nuage.vvr.ibs.ibp.path=COM_OODRIVE_NUAGE_VVR_IBS_IPB_PATH
com.oodrive.nuage.vvr.common.started=true
com.oodrive.nuage.vvr.ibs.ibpgen.path=COM_OODRIVE_NUAGE_VVR_IBS_IBPGEN_PATH
com.oodrive.nuage.vvr.ibs.owner.uuid=8b6bf7b8-3a17-11e2-8c84-180373e17308
com.oodrive.nuage.vvr.common.node=8b6bf7b8-3a17-11e2-8c84-180373e17308
com.oodrive.nuage.nrs.storage=COM_OODRIVE_NUAGE_VVR_IBS_IBPGEN_PATH
