com.oodrive.nuage.jetty.server.address=127.0.0.1
com.oodrive.nuage.jetty.server.port=8080
com.oodrive.nuage.jetty.shutdownOnExit=true
com.oodrive.nuage.jetty.rest.contextpath=/storage
com.oodrive.nuage.jetty.webui.contextpath=/admin
com.oodrive.nuage.jetty.webui.warname=webui.war
