<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

    <servlet>
        <servlet-name>VvrManagerUiServlet</servlet-name>
        <servlet-class>
            com.vaadin.server.VaadinServlet
        </servlet-class>

        <init-param>
            <param-name>UI</param-name>
            <param-value>io.eguan.webui.VvrManagerUi</param-value>
        </init-param>
    </servlet>

    <servlet-mapping>
        <servlet-name>VvrManagerUiServlet</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>

    <listener>
        <listener-class>io.eguan.webui.VvrManagerUi</listener-class>
    </listener>

</web-app>
