#!/bin/bash
#
# Start a volume manager daemon and a rest server
# Usage: $0
#

cd `dirname $0`/../lib
if [ -z "$LD_LIBRARY_PATH" ];then
 export LD_LIBRARY_PATH=.
else
 export LD_LIBRARY_PATH=.:$LD_LIBRARY_PATH
fi

exec java -Dio.eguan.log.enableSyslog=true -jar eguan.jar VOLD_DIR_ABS VOLD_DIR_ABS/rest.cfg CINDER_PATH
